.navbar {
  --bs-navbar-toggler-focus-width: 0rem !important;
}
.navbar-toggler {
  border: none !important;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.bg-dark {
  background-color: #080708 !important;
}
.bg-blue {
  background-color: #004cff !important;
}
.text-blue {
  color: #004cff !important;
}
@media (min-width: 549px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
body,
html {
  height: 100%;
  width: 100%;
  position: relative;
}
#loader-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#loader-wrapper object {
  transform: scale(0.5);
}
